{
    "presets":
    [
        [
            "env",
            {
                "targets": {
                    "browsers": ["last 2 versions"]
                },
                "debug": true,
                "useBuiltIns": "entry"
            }
        ]
    ],
    "plugins": ["transform-runtime", "syntax-dynamic-import"]
}
