/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.DS_Store
coverage/
bootstrap/cache/*.php
build/Release/
public/js/parts/*
.env
